<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <%- include('./partials/navbar'); %>
    <ul>
        <% listaDeNotas.forEach((nota) => { %>
            <img src="<%= nota.image %>" alt="">
            <h1><%= nota.author %></h1>
            <span><%= nota.content %></span>
            <span><b><%= nota.createdAt %></b></span>
        <% }); %>
    </ul>
    <script src="./js/main.js"></script>
</body>
</html>